body{
    margin : 0;
}

.container{
    background-color : grey;
    height : 300px;
    width : 300px;
    position: relative;
}

.red{
    background-color:red;
    height : 100px;
    width : 100px;
    position : absolute;
    left : 200px;
}

.blue{
    background-color:blue;
    height : 100px;
    width : 100px;
    position : absolute;
}

.yellow{
    background-color:yellow;
    height : 100px;
    width : 100px;
    position: absolute;
}